/* Global Style */

html {
    background-color: #381C4F;
    width: 100%;
}

h1, h2, label, p {
    color: #ffffff;
    font-family: Verdana, Tahoma, sans-serif;
}

/* NavBar */

.brand {
    float: left;
    margin-right: 50px; 
}

.brand>h2 {
    display: inline;
}

ul {
    background-color: #383C33 ;
    padding: 20px;
    text-align: right;
    margin: 0;
}

li {
    display: inline;
    font-size: x-large;
}

.route {
    padding: 20px 10px;
    text-decoration: none;
    color: #ffffff;
}

a {
    transition: .3s;
}

a:hover {
    background-color: #A46CE3;
    text-decoration: underline;
}

/* Home */

.home {
    text-align: center;
    width: 1100px;
    margin: auto;
    margin-bottom: 100px;
}

.logo {
    margin: 85px;
    height: 290px;
    width: 290px;
    padding: 10px;
    border: 5px solid #ffffff;
    border-radius: 300px;
}

.home h1 {
    font-size: 100px;
    margin: 0;
}

/* Stocks */

.header {
    margin-top: 80px;
    margin-bottom: 40px;
}

.stocks h1 {
    text-align: center;
}

.stockSearch {
    margin: auto;
    margin-bottom: 50px;
    width: 900px;
}

.stockTable {
    height: 500px;
    width: 900px;
    margin: auto;
    margin-bottom: 100px;
}

.symbolSearch {
    width: 400px;
    display: inline-block;
}

.searchInput {
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 10px;
}

.searchButton {
    width: 75px;
    height: 38px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center
}

.industrySearch > label {
    display: inline-block;
    margin-bottom: 5px;
}

.industrySearch {
    float: right;
    width: 400px;
}

/* Stock Detail */

.stockDetail h1, h2 {
    text-align: center;
}

.headerDetail {
    margin-top: 80px;
}

.dateBox {
    margin-left: 1350px;
    margin-bottom: 20px;
}

.dateSearch {
    margin-left: 40px;
}

.datePicker {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 150px;
    height: 20px;
}

.stockDetailTable {
    height: 400px;
    width: 1050px;
    margin: auto;
}

.detailChart {
    width: 1050px;
    margin: 50px auto 100px;
}
